body {
    font-family: 'Adamina', serif;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* All icon Color */

.fab,
.far {
    color: #ffffff;
}


/* *********************** */


/* All Button Style */

button {
    padding: 10px 10px;
    background-color: #0e65f3;
    border-style: none;
    border-radius: 17px;
    color: #ffffff;
}


/* *************** */


/* Header Section */

header {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}

header>h1 {
    font-size: 24px;
    font-weight: 900;
}


/* top Section */

.top_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center
}

.top_section_content {
    padding-left: 8%;
    padding-right: 8%;
}


/* ***************** */


/* Product collection area */

.product_collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 65px;
    padding-bottom: 6%;
}


/* .product_collection_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    margin: 10%;
} */

.product_catagory {
    width: 329px;
    height: 490px;
    box-shadow: 0 0 20px gray;
    margin-bottom: 20px;
}

.product_img {
    padding: 14px;
}

.product_info {
    padding: 14px 14px 20px 14px;
}

.filled_star {
    color: #FB8200;
}

.unfilled_star {
    color: #AAAAAA;
}

.rating_value {
    margin-left: 50px;
}


/* discount area */

.discount_row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.discound_info {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 200%;
}

.input_items {
    height: 40px;
    width: 100%;
    border: 1px solid;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
}

.discound_info button {
    padding: 17px 32px;
}

.discound_info>h1 {
    font-size: 42px;
}

.discound_info>p {
    font-size: 24px;
}

.discount_highight {
    color: #0e65f3;
}


/* Footer Area */

.footer_area {
    background-color: #0a0826;
    display: flex;
    justify-content: center;
}

.footer_content {
    width: 262px;
    height: 80%;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 200%;
}

.footer_heading {
    font-size: 24px;
}

.footer_icon {
    margin-right: 10px;
    background-color: #22213c;
    padding: 9px 10px;
    border-radius: 50%;
}


/* ******************** */